#intro{
    background-color: #252B42;
}
.checked {
    color: orange;
  }
.list{
    background-color: #FAFAFA;;
}
#list{
    list-style: none;
    /* display: flex; */
    justify-content: center;
    flex-wrap: wrap;
}
/* li{
    width: 48%;
} */